Body{
    background-color: black;

    color: Orange;
    font-style: italic;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    

h2 {
    font-size: 200%;
}

table{ 
    border-spacing: 4px;
}

td {
    border: solid 1px grey;
    text-align: center;
}

footer {
    color: purple;
}

button {
    background-color: black; 
    color: orange;           
    border: white 1 px;           
    font-size: 16px;        
}

.selected{
    background-color: rgb(192, 132, 19);
    /*font-size: 50pt;*/
    font-weight: bolder;
    color: black;
    /*box-shadow: 5px 5px 2px 2px #0ff;*/
    box-shadow:  0px 0px 6px 6px rgb(255, 187, 0);
    
}

.selected.nostr {
    background-color: rgb(152, 16, 170);
    /*font-size: 50pt;*/
    font-weight: bolder;
    color: black;
    /*box-shadow: 5px 5px 2px 2px #0ff;*/
    box-shadow:  0px 0px 6px 6px rgb(255, 0, 255);
    
}

.selected.hal {
    background-color: rgb(215, 49, 34);
    /*font-size: 50pt;*/
    font-weight: bolder;
    color: black;
    /*box-shadow: 5px 5px 2px 2px #0ff;*/
    box-shadow:  0px 0px 6px 6px rgb(248, 52, 81);
    
}

.selected.ross {
    background-color: rgb(8, 128, 44);
    /*font-size: 50pt;*/
    font-weight: bolder;
    color: black;
    /*box-shadow: 5px 5px 2px 2px #0ff;*/
    box-shadow:  0px 0px 6px 6px rgb(51, 247, 83);
    
}

.selected.duel {
    background-color: rgb(185, 187, 186);
    /*font-size: 50pt;*/
    font-weight: bolder;
    color: black;
    /*box-shadow: 5px 5px 2px 2px #0ff;*/
    box-shadow: 0px 0px 6px 6px rgba(253, 254, 254, 0.932);
    
}

.blank{
    background-color: black;
    /*font-size: 50pt;*/
    font-weight: bolder;
}

.banner{
    font-size: 50pt;
    text-align: center;
}

.hidden {
    display: none;
}

